<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dwight Kurt Schrute III</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Homepage</a>
        <a href="/works">Works</a>
        <a href="/about">About</a>
    </nav>

    <br>

    <h1>Dwight Kurt Schrute III</h1>
    <div class="container">
        <img src="/images/hay-king.jfif" alt="hay-king">
    </div>
</body>
</html>